<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  <title>TEXAS FIRES</title>
  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <div class="container-fluid" id="navbar-container">
    <div class="navbar-header">
      
  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- JavaScript -->
  <script type="text/javascript" src="../static/js/logic.js"></script>
</body>

</html>